@charset "UTF-8";

.allwrap {
	margin-top: 100px;
	margin-left: 70px;
}

label {
	margin-right: 42px;
}

.title {
	text-align: right;
	padding-top: 20px;
	padding-bottom: 20px;
}

.content {
	padding-top: 20px;
	padding-bottom: 20px;
}

.btn-cls {
	text-align: center;
	margin-top: 70px;
}

.updateBtn2 {
	background-color: rgb(52, 152, 219);
	width: 17%;
	height: 38px;
	border: none;
	color: #fff;
	border-radius: 6px 6px 6px 6px;
}

.backBtn {
	background-color: rgb(191, 191, 191);
	margin-left: 8px;
	width: 17%;
	height: 38px;
	border: none;
	color: #fff;
	border-radius: 6px 6px 6px 6px;
}